<!doctype html>
<html ng-app="app">
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script language="javascript" type="text/javascript">
      angular.module('app', []);
      
      //Whatever you put on the controller scope,
      //will be availalble in the HTML element bound to the controller.
      function MyController($scope){
        $scope.newMessage = "Hi";
        $scope.fish = "orange roughy";
        $scope.messages = ["What's up?", "Yo!"]; 
        
        $scope.add = function(){
          $scope.messages.push($scope.newMessage);
        };
      }
    </script>
  </header>
  
  <body ng-controller="MyController">
    Leave a message:<br>     
    <input type="text" ng-model="fish">
    <input type="submit" ng-click="add()" value="press this">
    <br>
    {{fish}}<br>
    <input type = "text" ng-model="fish"><br>
    Messages: <br>
    <ul>
      <li ng-repeat="message in messages">
        {{message}}
      </li>
    </ul>
  </body>
  
</html>
